footer
	.container
		section.footer-main
			.row
				.col-12.col-md-4.col-lg-3.col-custom
					section.footer-col
						.title Kết nối với chúng tôi
						.social
							ul
								li
									.img
										img(src="img/fb.png", alt="")
									a(href="#!") Vĩnh Tường
									a(href="#!") Gyproc
									a(href="#!") DURAflex
								li
									.img
										img(src="img/youtube.png", alt="")
									a(href="#!") Vĩnh Tường
									a(href="#!") Gyproc
									a(href="#!") DURAflex
								li
									.img
										img(src="img/zalo.png", alt="")
									a(href="#!") Zalo
				.col-12.col-md-4.col-lg-2.col-custom
					section.footer-col
						.title Hỗ trợ
						nav.footer-link
							a.phone(href="tel:1800 1218") 1800 1218
							a(href="#!") Tư vấn kỹ thuật
							a(href="#!") Hỏi đáp
							a(href="#!") Liên hệ
				.col-12.col-md-4.col-lg-2.col-custom
					section.footer-col
						.title Tôi là chủ công trình
						nav.footer-link
							a(href="#!") Thư viện
							a(href="#!") Tìm thợ
							a(href="#!") Yêu cầu
							a(href="#!") Giá tham khảo
				.col-12.col-md-4.col-lg-2.col-custom
					section.footer-col
						.title Tôi là thợ thi công
						nav.footer-link
							a(href="#!") Thư viện
							a(href="#!") Thông tin
							a(href="#!") Công việc
							a(href="#!") Giá tham khảo
				.col-12.col-md-4.col-lg-3.col-custom
					section.footer-col
						.title Liên kết nhanh
						nav.footer-link
							a(href="#!") Vĩnh Tường - Gyproc
							a(href="#!") DURAflex
							a(href="#!") Tính vật tư
							a(href="#!") Trần nhà đẹp
		section.footer-bottom
			.copyright © 2017 Vĩnh Tường. Tất cả các quyền được bảo hộ.
			.col-right
				.download-app
					label Tải ứng dụng:
					a(href="#!")
						img(src="img/appstore.png", alt="")
					a(href="#!")
						img(src="img/playstore.png", alt="")
				.saint
					img(src="img/saint.png", alt="")
		