header
	.search-wrap
		.container
			.searchbox
				input(type="text" placeholder="Tìm kiếm...")
				.btn-closesearch <i class="material-icons">close</i>
				button.searchbutton <i class="material-icons">search</i>
	.container
		.header-main
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.vt-brand
				img(src="img/sites.png", alt="")
			.col-right
				.top-menu
					.hotline
						a(href="tel:18001218") 1800 1218
					.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dành cho chủ nhà
						.dropdown-menu(aria-labelledby='dropdownMenuLink')
							a.dropdown-item(href='#') Dành cho chủ nhà 1
							a.dropdown-item(href='#') Dành cho chủ nhà 2
							a.dropdown-item(href='#') Dành cho chủ nhà 3
					.login
						.login-user
							figure
								.user-img
									img(src="img/avt.png", alt="")
								figcaption
									span Xin chào
									.user-name Nguyễn Minh Liêm
								.notification
									img(src="img/notification.png", alt="")
									.notification-amount 2
						.info-popup
							.login-info
								ul
									li 0986 xxx xxx
									li liemnm@gmail.com
								.btn-wrap
									a.btn-editinfo(href="#!") Cập nhật thông tin
							.login-menu
								ul
									li
										a(href="#!") <i class="material-icons">favorite</i>Yêu thích
									li
										a(href="#!") <i class="material-icons">sms_failed</i>Phản hồi
									li 
										a(href="#!") <i class="material-icons">exit_to_app</i>Đăng xuất
					.language
						a(href="#!")
							img(src="img/en.png", alt="")
					.search
						.search-toggle <i class="fa fa-search" aria-hidden="true"></i>
				.menu
					.menu-content
						.menu-wrap
							ul.menu-link
								li
									a(href="#!") 
										.icon
											img(src="img/icons/h1.png", alt="")
										.text Thư viện
								li
									a(href="#!")
										.icon
											img(src="img/icons/h2.png", alt="")
										.text Tìm thợ
								li
									a(href="#!")
										.icon
											img(src="img/icons/h3.png", alt="")
										.text Yêu cầu
								li
									a(href="#!")
										.icon
											img(src="img/icons/h4.png", alt="")
										.text Giá tham khảo
								li
									a(href="#!")
										.icon
											img(src="img/icons/h5.png", alt="")
										.text Vĩnh Tường - GYPROC
