header
	.search-wrap
		.container
			.searchbox
				input(type="text" placeholder="Tìm kiếm...")
				.btn-closesearch <i class="material-icons">close</i>
				button.searchbutton <i class="material-icons">search</i>
	.container
		.header-main
			.overlay
			.btn-showmenu
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.vt-brand
				img(src="img/sites.png", alt="")
			.col-right
				.top-menu
					.hotline
						a(href="tel:18001218") 1800 1218
					//- .dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dành cho chủ nhà
						.dropdown-menu(aria-labelledby='dropdownMenuLink')
							a.dropdown-item(href='#') Dành cho chủ nhà 1
							a.dropdown-item(href='#') Dành cho chủ nhà 2
							a.dropdown-item(href='#') Dành cho chủ nhà 3
					.login
						ul
							li
								a(href="#!") Đăng ký
							li
								a(href="#!") Đăng nhập
					.language
						a(href="#!")
							img(src="img/vn.png", alt="")
							| Tiếng Việt
					//- .search
						.search-toggle <i class="fa fa-search" aria-hidden="true"></i>
				.menu
					.menu-content
						.menu-wrap
							ul.menu-link
								li
									a(href="#!") 
										.icon
											img(src="img/icons/h1.png", alt="")
										.text Thư viện
								li
									a(href="#!")
										.icon
											img(src="img/icons/h2.png", alt="")
										.text Tìm thợ
								li
									a(href="#!")
										.icon
											img(src="img/icons/h3.png", alt="")
										.text Yêu cầu
								li
									a(href="#!")
										.icon
											img(src="img/icons/h4.png", alt="")
										.text Giá tham khảo
								li
									a(href="#!")
										.icon
											img(src="img/icons/h5.png", alt="")
										.text Vĩnh Tường - GYPROC
