.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
.container
	.row.no-gutters
		.col-12.col-lg-2
			section.sidebar-user
				.user
					figure
						.user-img
							img(src="img/avt.png", alt="")
						figcaption
							.user-name Nguyễn Minh Liêm
							.user-info
								ul
									li 0986 xxx xxx
									li liemnm@gmail.com
			nav.sidebar-nav.user-nav
				ul
					li.active
						a(href="#!")
							.icon <i class="material-icons">mode_edit</i>
							.text Quản lý tài khoản
					li
						a(href="#!")
							.icon <i class="material-icons">favorite</i>
							.text yêu thích
					li
						a(href="#!")
							.icon <i class="material-icons">sms_failed</i>
							.text Phản hồi
					li
						a(href="#!")
							.icon <i class="material-icons">exit_to_app</i>
							.text Đăng xuất
			//- .post-hotline
				a(href="tel:1800 1218") <i class="material-icons">phone</i> 1800 1218
		.col-12.col-lg-10
			section.user-page
				.account-management
					h1.page-title Quản lý tài khoản
					.form-wrap
						.form-row
							.form-group.col-12.col-md-6
								label Họ và tên
								input.form-control(type="text" value="Nguyễn Minh Liêm")
							.form-group.col-12.col-md-6
								label Email
								input.form-control(type="email" value="liemnm@gmail.com")
							.form-group.col-12.col-md-4
								label Mật khẩu hiện tại
								input.form-control(type="password" value="123456789")
							.form-group.col-12.col-md-4
								label Mật khẩu hiện tại
								input.form-control(type="password" value="123456789")
							.form-group.col-12.col-md-4
								label Mật khẩu hiện tại
								input.form-control(type="password" value="123456789")
							.frm-btn.col-12
								input.btn-update(type="submit", value="Cập nhật")

// Modal
//- #review-popup.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-dialog.modal-review(role='document')
		.modal-content
			.modal-header
				h5.modal-title Hủy yêu cầu
				.close(data-dismiss='modal', aria-label='Close')
					i.material-icons close
			.modal-body.review-popup
				.worker
					figure
						.worker-img
							img(src="img/worker/1.png", alt="")
						figcaption
							.worker-name Đội thi công Vĩnh Tường 01
				.rating-star
					select#rating
						option(value='1') 1
						option(value='2') 2
						option(value='3') 3
						option(value='4') 4
						option(value='5' selected) 5
				.form-wrap
					.rating-form1
						.form-group
							.module-title Bạn Chưa hài lòng về điều gì
							ul
								li
									.radio
										input#radio1(type="radio", name="radio" checked)
										label(for="radio1") Thời gian thi công quá lâu
								li
									.radio
										input#radio2(type="radio", name="radio")
										label(for="radio2") Giá tiền cao hơn dự đoán
								li
									.radio
										input#radio3(type="radio", name="radio")
										label(for="radio3") Thái độ thi công chưa tốt
								li
									.radio
										input#radio5(type="radio", name="radio")
										label(for="radio5") Lý do khác
									input.form-control(type="text" placeholder="Vui lòng nêu lý do...")
					.rating-form2
						.form-group
							input.form-control(type="text" placeholder="Nhận xét của bạn...")
					.frm-btn
						//- label Bạn có chắc chắn hủy yêu cầu?
						input(type="submit", value="Gửi đánh giá")