.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.news-page
				.container
					h1.news-title Chống cháy thế nào cho hiệu quả?
					.news-info
						time 07/06/2016
						.share
							img(src="img/share.png", alt="")
					.news-content.content
						p
							strong Ngoài những thiết bị chữa cháy, chủ nhà nên đầu tư các giải pháp chống cháy bằng hệ thống tường ngăn và trần để giảm khả năng lan truyền nhiệt, lửa và khí độc từ không gian cháy đến các không gian khác.
						p 6 tháng đầu năm 2016 đã xảy ra hơn 1.500 vụ cháy nổ và 80% tập trung tại nhà dân, cơ sở kinh doanh nhỏ lẻ.
						p Hiện nay, cách phòng chống cháy phổ biến tại nhà riêng, chung cư là trang bị bình chữa cháy hay lắp đặt hệ thống báo cháy. Tuy nhiên, trên thực tế khi xảy hỏa hoạn, đám cháy lan rộng nhanh, nhiệt độ tăng cao, người trong cuộc không kịp xử lý dập tắt lửa bằng bình chữa cháy dẫn đến thiệt hại. Hay nạn nhân bị ngạt do khói, khí độc phát sinh từ đám cháy vì vật liệu sử dụng trong công trình là vật liệu dễ cháy, dễ sinh ra khí độc khi cháy.
						p Vì thế ngoài những thiết bị chữa cháy, chủ nhà nên đầu tư các giải pháp chống cháy bằng hệ thống tường ngăn và trần để giảm khả năng lan truyền nhiệt, lửa và khí độc từ không gian cháy đến các không gian khác.
						.row
							.col-12.col-md-6
								figure
									img(src="img/news/img1.jpg", alt="")
							.col-12.col-md-6
								figure
									img(src="img/news/img2.jpg", alt="")
						p Tại Mỹ tỉ lệ sử dụng vật liệu thạch cao 10m2/người cao nhiều lần so với tại Việt Nam
						p Thạch cao vốn là nhóm vật liệu nhẹ đã phổ biến với các nước phát triển. Tại Mỹ tỉ lệ sử dụng thạch cao trên đầu người hiện nay là 10m2/người cao gấp nhiều lần so với tại Việt Nam. Từ những ưu điểm về mặt chức năng như khả năng chống cháy, cách âm tốt, nhẹ, linh hoạt, loại vật liệu này chiếm được ưu thế so với những nhóm vật liệu truyền thống khác.
					.news-notify Tìm hiểu thêm về Hệ thống tường thạch cao Gypwall DW4 của Vĩnh Tường – Gyproc với khả năng chống cháy 60 phút và cách âm 50dB tại 
						a(href="#!") www.vinhtuong.com
					.author Doãn Phong
		.col-12.col-lg-4.col-xl-3
			.sidebar-news
				h4.module-title Tin tức khác
				.post-list
					.post
						figure
							a.post-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 07/06/2016
								h3.post-name
									a(href="#!") Trộn ván sàn gỗ: các thủ thuật dành cho bạn
					.post
						figure
							a.post-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 07/06/2016
								h3.post-name
									a(href="#!") Trộn ván sàn gỗ: các thủ thuật dành cho bạn
					.post
						figure
							a.post-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 07/06/2016
								h3.post-name
									a(href="#!") Trộn ván sàn gỗ: các thủ thuật dành cho bạn
					.post
						figure
							a.post-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 07/06/2016
								h3.post-name
									a(href="#!") Trộn ván sàn gỗ: các thủ thuật dành cho bạn