.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
.container
	.row.no-gutters
		.col-12.col-lg-2
			nav.sidebar-nav
				ul
					li.active
						a(href="#!")
							.icon <i class="material-icons">playlist_add</i>
							.text Mới
								span.number (
									strong 2
									|)
					li
						a(href="#!")
							.icon <i class="material-icons">phone_in_talk</i>
							.text Báo giá
								span.number (
									strong 0
									|)
					li
						a(href="#!")
							.icon <i class="material-icons">straighten</i>
							.text Khảo sát
								span.number (
									strong 0
									|)
					li
						a(href="#!")
							.icon <i class="material-icons">done_all</i>
							.text Hoàn thành
								span.number (
									strong 0
									|)
			//- .post-hotline
				a(href="tel:1800 1218") <i class="material-icons">phone</i> 1800 1218
		.col-12.col-lg-10
			.requirement-page
				.requirement-list
					.requirement-group
						.requirement-info
							h2.requirement-name Nhà xưởng - Phòng làm việc - Cao cấp - Trần thạch cao
							ul
								li Đăng lúc: 
									time 10:20 10/05/2017
								li 45 Trương Đình Hội, Phường 16, Quận 8, HCM
								li.status.text-warning Chưa có người nhận
						.btn-wrap 
							a.btn-cancel(href="#!" data-toggle='modal', data-target='#cancel-requirement') <i class="material-icons">delete</i> Hủy bỏ
					.requirement-group
						.requirement-info
							h2.requirement-name Nhà xưởng - Phòng làm việc - Cao cấp - Trần thạch cao
							ul
								li Đăng lúc: 
									time 10:20 10/05/2017
								li 45 Trương Đình Hội, Phường 16, Quận 8, HCM
								li.status.text-danger Đã hủy
						.btn-wrap
							a.btn-repost(href="#!") <i class="material-icons">restore</i> Đăng lại 
				//- .btn-wrap.justify-content-between
					a.btn-prev(href="#!") Nhập lại
					a.btn-next(href="#!" data-toggle='modal', data-target='#downloadapp') Tiếp tục
// Modal
#cancel-requirement.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-dialog.modal-cancel(role='document')
		.modal-content
			.modal-header
				h5.modal-title Hủy yêu cầu
				.close(data-dismiss='modal', aria-label='Close')
					i.material-icons close
			.modal-body.cancel-requirement
				.form-wrap
					.form-group
						label Bạn vui lòng chia sẻ lý do hủy yêu cầu:
						ul
							li
								.radio
									input#radio1(type="radio", name="radio" checked)
									label(for="radio1") Thông tin yêu cầu sai
							li
								.radio
									input#radio2(type="radio", name="radio")
									label(for="radio2") Tôi đã tìm được thợ
							li
								.radio
									input#radio3(type="radio", name="radio")
									label(for="radio3") Không còn yêu cầu nữa
							li
								.radio
									input#radio4(type="radio", name="radio")
									label(for="radio4") Công trình bị chậm tiến độ
							li
								.radio
									input#radio5(type="radio", name="radio")
									label(for="radio5") Lý do khác
								input.form-control(type="text" placeholder="Vui lòng nêu lý do...")
					.frm-btn
						label Bạn có chắc chắn hủy yêu cầu?
						input(type="submit", value="Xác nhận hủy yêu cầu")