section.home-feature
	.container
		.feature-list
			.row
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/icons/f1.png", alt="")
							figcaption 2000 thợ thi công
								br
								|trên khắp cả nước
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/icons/f2.png", alt="")
							figcaption 20 chuyên gia hỗ	
								br
								|trợ kỹ thuật
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/icons/f3.png", alt="")
							figcaption Thông tin cá nhân
								br
								|được bảo mật
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/icons/f4.png", alt="")
							figcaption App miễn phí
								br
								|dễ dàng sử dụng
section.home-intro
	.container
		h1.home-title.text-center Nâng tầm chất lượng không gian sống
		.home-des.text-center Khám phá những mẫu trần/tường thạch cao đẹp nhất
		.intro-img
			img(src="img/home/img1.png", alt="")
		.btn-wrap.text-center
			a.btn-homebutton(href="#!") Xem tất cả
section.home-product
	.bg-img
		img(src="img/home/productbg.jpg", alt="")
	.container
		h2.home-title.text-center Còn chần chờ gì nữa? Hãy chọn công trình mà bạn muốn thi công
		.product-list
			.row.justify-content-center
				.col-6.col-md-4.col-lg-2
					.product
						figure
							a.product-img(href="#!")
								img(src="img/home/pr1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Nhà phố
				.col-6.col-md-4.col-lg-2
					.product
						figure
							a.product-img(href="#!")
								img(src="img/home/pr2.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Căn hộ
				.col-6.col-md-4.col-lg-2
					.product
						figure
							a.product-img(href="#!")
								img(src="img/home/pr3.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Biệt thự
				.col-6.col-md-4.col-lg-2
					.product
						figure
							a.product-img(href="#!")
								img(src="img/home/pr4.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Văn phòng
				.col-6.col-md-4.col-lg-2
					.product
						figure
							a.product-img(href="#!")
								img(src="img/home/pr5.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Bệnh viện
				.col-6.col-md-4.col-lg-2
					.product
						figure
							a.product-img(href="#!")
								img(src="img/home/pr6.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#!") Nhà xưởng
section.home-connect
	.container
		h1.home-title.text-center Kết nối đơn giản 3 bước
		.row
			.col-12.col-lg-6
				.connect-content
					.content
						p Việc tìm ra những tay thợ lành nghề đã và đang tạo ra một bước tiến lớn trong công việc sửa chữa và nâng cấp nhà. Một thợ giỏi ở Vĩnh Tường là người được bảo hiểm, đủ điều kiện và cam kết tôn trọng điều lệ công việc đòi hỏi ... Cho dù là công trình lớn hay cải tạo nhỏ, chúng tôi giúp bạn lựa chọn những chuyên gia giỏi nhất để thực hiện dự án của bạn.
					.video
						a.video-img(href="#!" data-fancybox="video")
							img(src="img/home/video.jpg", alt="")
			.col-12.col-lg-6
				.connect-step
					.step
						figure
							.step-icon
								img(src="img/home/c1.png", alt="")
								.number 1
							figcaption
								.step-name Chủ nhà đăng tin công trình
								.step-des Với vài cú nhấp chuột, chủ nhà công cấp thông tin muốn thực hiện
					.step
						figure
							.step-icon
								img(src="img/home/c2.png", alt="")
								.number 2
							figcaption
								.step-name Thợ thi công báo giá
								.step-des Thợ thi công gởi báo giá kèm chi tiết gói giải pháp
					.step
						figure
							.step-icon
								img(src="img/home/c3.png", alt="")
								.number 3
							figcaption
								.step-name Khảo sát và thi công
								.step-des Chủ nhà chọn thợ thi công tới khảo sát và thống nhất phương án thi công, đồng thời được xác nhận bằng thỏa thuận 
		.btn-wrap.text-center
			a.btn-homebutton(href="#!") Xem cách hoạt động
section.home-app
	.container
		h2.home-title.text-center Tìm thợ thi công trên ứng dụng điện thoại
		.home-des.text-center Vĩnh Tường Mobile App là dịch vụ tìm thợ thi công hiện đại, cho phép bạn sử dụng điện thoại di động/ máy tính bảng có kết nối Internet để thực hiện các thao tác với Vĩnh Tường một cách nhanh chóng.
		.app-img
			img(src="img/home/app.png", alt="")
		.app-download
			a(href="#!")
				img(src="img/home/d1.png", alt="")
			a(href="#!")
				img(src="img/home/d2.png", alt="")
section.home-news
	.container
		h2.home-title.text-center Bí quyết dành cho chủ nhà và thợ thi công
		.home-des.text-center Tất cả mọi thứ bạn muốn biết về công việc mà ít khi nào hỏi ... và nhiều hơn nữa! Cảm hứng, ý tưởng, lời khuyên chuyên nghiệp, huấn luyện: những câu chuyện từ Vĩnh Tường.
		.news-list
			.row
				article.col-12.col-md-6.col-lg-3
					.news-col
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 07/06/2017
								h3.news-name
									a(href="#!") Trộn ván sàn gỗ: các thủ thuật dành cho bạn
								.news-des Nhu cầu sở hữu những không gian giải trí tại gia đang trở thành xu hướng của nhiều gia đình hiện đại. Trong đó, phổ biến nhất là những phòng nghe nhạc chất lượng cao.
				article.col-12.col-md-6.col-lg-3
					.news-col
						figure
							.news-img
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 07/06/2017
								h3.news-name
									a(href="#!") Chống cháy thế nào để hiệu quả cho ngôi nhà của bạn?
								.news-des Sáu tháng đầu năm 2016 đã xảy ra hơn 1.500 vụ cháy nổ và 80% tập trung tại nhà dân, cơ sở kinh doanh nhỏ lẻ. Rất nhiều tổn hại về tài sản và con người. 
				article.col-12.col-md-6.col-lg-3
					.news-col
						figure
							.news-img
								img(src="img/news/3.jpg", alt="")
							figcaption
								time 07/06/2017
								h3.news-name
									a(href="#!") Bí quyết giảm thiểu chi phí cho việc xây sửa nhà
								.news-des Làm thế nào để các phòng tắm nhỏ trông có vẻ rộng rãi và đẹp, bền hơn khi sử dụng? Bạn không nên bỏ qua 8 gợi ý dưới đây.
				article.col-12.col-md-6.col-lg-3
					.news-col
						figure
							.news-img
								img(src="img/news/4.jpg", alt="")
							figcaption
								time 07/06/2017
								h3.news-name
									a(href="#!") Bí quyết giữ nhà tắm luôn đẹp tránh ẩm mốc
								.news-des Làm thế nào để các phòng tắm nhỏ trông có vẻ rộng rãi và đẹp, bền hơn khi sử dụng? Bạn không nên bỏ qua 8 gợi ý dưới đây. 
		.btn-wrap.text-center
			a.btn-homebutton(href="#!") Tất cả